body {
    background-image: url('../C:\Users\oem\Pictures'); /* Arka plan resmi */
    background-size: cover; /* Resmi kapsayacak şekilde ölçeklendir */
    background-position: center; /* Resmi ortala */
    background-repeat: no-repeat; /* Resmin tekrar etmesini engelle */
    font-family: 'Courier New', Courier, monospace; /* Eski tip yazı tipi */
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background-color: #fff8dc; /* Açık nostaljik bir arka plan rengi */
    border: 2px solid #deb887; /* Nostaljik bir kenarlık rengi */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #8b4513; /* Nostaljik başlık rengi */
}

.login-container label {
    display: block;
    margin-bottom: 5px;
    color: #8b4513;
}

.login-container input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #deb887;
    border-radius: 5px;
}

.login-container button {
    background-color: #8b4513;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #a0522d;
}

.login-container p {
    margin-top: 10px;
    color: #8b4513;
}

.login-container a {
    color: #8b4513;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}